<div id="purchaseListSection" #elRef>
    <div #addNewSection>
      <button style="height: 31px; line-height: 10px;" class="btn btn-primary" type="button" (click)="onAddClick()"><i class="fa fa-plus"></i>Add New</button>
    </div>
    <div #elRef style="margin-top: 10px;" id="PurchaseGrid">
        <p-table scrollHeight="70vh" (onSort)="customSort($event)" [columns]="gridColumns" [lazy]="true"
            [value]="purchaseList" [responsive]="true" [autoLayout]="true" [scrollable]="true" [resizableColumns]="true"
            [(first)]="first" columnResizeMode="expand" [paginator]="true" [rows]="recordsPerPage"
            [rowsPerPageOptions]="rowsPerPageOptions" (onLazyLoad)="loadPageData($event)" [totalRecords]="totalRecords"
            [customSort]="true" (onPage)="onPage($event)" [(selection)]="selectedRowItem" [totalRecords]="totalGridRecords">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of gridColumns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 150px;">Action</th>
                </tr>
            </ng-template>
            <hr>
            <ng-template pTemplate="body" let-customer>
                <tr (click)="onRowClick(customer)" [class.ui-state-highlight]="customer === selectedRowItem" (click)="onRowClick(customer)">
                    <td *ngFor="let col of gridColumns" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'PurchaseDate'">{{customer['PurchaseDate'] |date:'shortDate' }}</span>
                        <span *ngSwitchDefault> {{ customer[col.field] }}</span>
                    </td>
                    <td style="width: 150px;">
                        <div>
                            <button  id="btnView"
                            class="btn" (click)="onViewClick(customer.Id)">
                            <img src="../../../../assets/images/icon/Eye-visible.svg"
                                class="edit-delete-icon-style" />
                        </button>
                            <button  id="btnEdit"
                            class="btn" (click)="onEditClick(customer.Id)">
                            <img src="../../../../assets/images/icon/icon_edit.png"
                                class="edit-delete-icon-style" />
                        </button>
                        <button id="btnDelete" type="button" class="btn"
                            (click)="onDeleteClick(customer.Id)">
                            <img src="../../../../assets/images/icon/delete_icon.svg"
                                class="edit-delete-icon-style" />
                        </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </div>

    <p-dialog header="Add Purchase" [(visible)]="display" (onHide)="onAddFormClose($event)" [style]="{'width': '930px'}">
        <ngx-add-purchase #addPurchaseComponent (displayChange)="onAddFormClose($event)"></ngx-add-purchase>
    </p-dialog>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>