<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div id="jobCardListSection">

    <div #addNewSection>
        <button pButton type="button" label="Add New" (click)="onAddClick()"><span
                class="plus-circle-outline"></span></button>
    </div>
    <div #elRef style="margin-top: 10px;" id="jobCardGrid">
        <p-table scrollHeight="70vh" (onSort)="customSort($event)" [columns]="gridColumns" [lazy]="true"
            [value]="jobList" [responsive]="true" [autoLayout]="true" [scrollable]="true" [resizableColumns]="true"
            [(first)]="first" columnResizeMode="expand" [paginator]="true" [rows]="recordsPerPage"
            [rowsPerPageOptions]="rowsPerPageOptions" (onLazyLoad)="loadPageData($event)" [totalRecords]="totalRecords"
            [customSort]="true" (onPage)="onPage($event)" [(selection)]="selectedRowItem" [totalRecords]="totalGridRecords">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of gridColumns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 120px;">Action</th>
                </tr>
            </ng-template>
            <hr>
            <ng-template pTemplate="body" let-customer>
                <tr (click)="onRowClick(customer)" [class.ui-state-highlight]="customer === selectedRowItem" (click)="onRowClick(customer)">
                    <td *ngFor="let col of gridColumns" [ngSwitch]="col.field">
                        <span *ngSwitchCase="'Created_On'">{{customer['Created_On'] |date:'shortDate' }}</span>
                        <span *ngSwitchDefault> {{ customer[col.field] }}</span>
                    </td>
                    <td style="width: 120px;">
                        <div>
                            <button  id="btnView"
                            class="btn" (click)="onViewClick(customer.Id)">
                            <img src="../../../../assets/images/icon/Eye-visible.svg"
                                class="edit-delete-icon-style" />
                        </button>
                            <button  id="btnEdit"
                            class="btn" (click)="onEditClick(customer.Id)">
                            <img src="../../../../assets/images/icon/icon_edit.png"
                                class="edit-delete-icon-style" />
                        </button>
                        <button id="btnDelete" type="button" class="btn"
                            (click)="onDeleteClick(customer.id)">
                            <img src="../../../../assets/images/icon/delete_icon.svg"
                                class="edit-delete-icon-style" />
                        </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- <div id="jobDetailTable">
    <p-table scrollHeight="45vh" [value]="jobDetailList" [responsive]="true" [autoLayout]="true"
        [scrollable]="true" [resizableColumns]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Complains
                </th>              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
            <tr>
                <td>
                    <span> {{ detail.complainDescription}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->
<p-dialog appendTo=body position="bottom" [modal]=true header="New Job" [(visible)]="display"  [style]="{'width': '1060px'}">
   <ngx-add-job-card #jobCardAddForm (displayChange)="onAddFormClose()" ></ngx-add-job-card >
</p-dialog>