<div id="addSupplierForm" class="p-grid p-justify-center p-align-center" [formGroup]="supplierFormGroup">
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="Name" />
                <div>
                    <small *ngIf="supplierFormGroup.controls['Name'].errors?.required && isSubmitted"
                        class="text-danger">Name is required.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Contact Person</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" size="30"
                formControlName="ContactPerson" />
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Phone Number</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="number" size="30"
                    formControlName="PhoneNumber" />
            </div>
        </div>
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Mobile Number</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="number" size="30"
                    formControlName="MobileNumber" />
            </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Email</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="email" size="30"
                formControlName="Email" />
            <div>
                <small *ngIf="supplierFormGroup.controls['Email'].errors?.email && isSubmitted"
                    class="text-danger">Invalid Email</small>
            </div>
        </div>
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Address</label>
                </div>

                <textarea pInputTextarea class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="Address" ></textarea>
                    <div>
                        <!-- <small *ngIf="supplierForm.controls['PhoneNumber'].errors?.pattern"
                            class="text-danger">Invalid phone number</small> -->
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
    (click)="onCancelClick()">Cancel</button>
      <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
</div>