<p-toast></p-toast>
<div id="addCustomerForm" class="p-grid p-justify-center p-align-center" [formGroup]="editProfileForm">
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">First Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="FirstName" />
                <div>
                    <small *ngIf="editProfileForm.controls['UserName'].errors?.required && isSubmitted"
                        class="text-danger">First Name is required.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Last Name</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" size="30"
                formControlName="LastName" />
                <div>
                    <small *ngIf="editProfileForm.controls['LastName'].errors?.required && isSubmitted"
                        class="text-danger">First Name is required.</small>
                </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Email</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="email" size="30"
                formControlName="Email" />
            <div>
                <small *ngIf="editProfileForm.controls['Email'].errors?.email && isSubmitted"
                    class="text-danger">Invalid Email</small>
            </div>
        </div>
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">User Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="UserName" />
                    <div>
                        <small *ngIf="editProfileForm.controls['UserName'].errors?.email && isSubmitted"
                            class="text-danger">Invalid Email</small>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
    (click)="onCancelClick()">Cancel</button>
      <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
</div>