<div id="productListSection" #elRef>
    <div #addNewSection>
        <button style="height: 31px; line-height: 10px;" class="btn btn-primary" type="button" (click)="onAddClick()"><i
                class="fa fa-plus"></i>Add New</button>
    </div>
    <div #elRef style="margin-top: 10px;" id="productGrid">
        <p-table  [lazy]="true"  #dt  scrollHeight="65vh"  (onSort)="customSort($event)"  [columns]="columns"  [value]="unitList" [responsive]="true" [autoLayout]="true" [scrollable]="true" [resizableColumns]="true"
        [(first)]="first"  columnResizeMode="expand" [paginator]="true" [rows]="recordsPerPage" [rowsPerPageOptions]="rowsPerPageOptions" 
        [customSort]="true"  [filterDelay]="0" [(selection)]="selectedRowItem" [totalRecords]="totalGridRecords" >
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }} 
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr [class.ui-state-highlight]="customer === selectedRowItem" (click)="onRowClick(customer)">
                <td *ngFor="let col of columns">
                    <span> {{ customer[col.field] }}</span>
                    
                  </td>
                <td>
                    <div>
                        <button  id="btnView"
                        class="btn" (click)="onViewClick(customer.Id)">
                        <img src="../../../../assets/images/icon/Eye-visible.svg"
                            class="edit-delete-icon-style" /></button>
                        <button  id="btnEdit"
                        class="actionBtn" (click)="onEditClick(customer.Id)">
                        <img src="../../../../assets/images/icon/icon_edit.png"
                            class="edit-delete-icon-style" />
                    </button>
                    <button id="btnDelete" type="button" class="actionBtn"
                        (click)="onDeleteClick(customer.Id)">
                        <img src="../../../../assets/images/icon/delete_icon.svg"
                            class="edit-delete-icon-style" />
                    </button>
      
                      </div>
                </td>
            </tr>
        </ng-template>
        </p-table>
      </div>
</div>
<p-dialog header="Add Product" [(visible)]="display" (onHide)="onDialogClose(false)" [style]="{'width': '500px'}">
    <ngx-add-product #addProductComponent (displayChange)="onDialogClose($event)"></ngx-add-product>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>