<div id="customerListSection">

    <div #addNewSection>
        <button style="height: 31px; line-height: 10px;" class="btn btn-primary" type="button" (click)="onAddClick()"><i class="fa fa-plus"></i>Add New</button>
    </div>
    <div #elRef style="margin-top: 10px;" id="customerGrid">
        <p-table  #dt  scrollHeight="65vh"  (onSort)="customSort($event)"  [columns]="gridColumns" [lazy]="true"   [value]="customerList" [responsive]="true" [autoLayout]="true" [scrollable]="true" [resizableColumns]="true"
        [(first)]="first"  columnResizeMode="expand" [paginator]="true" [rows]="recordsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"  [totalRecords]="totalRecords"
        [customSort]="true"  [filterDelay]="0" [(selection)]="selectedRowItem" [totalRecords]="totalGridRecords" >
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of gridColumns" [pSortableColumn]="col.field">
                    {{ col.header }} 
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'fullName', 'contains')" placeholder="Full Name" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'phoneNumber', 'contains')" placeholder="Phone Number" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'mobileNumber', 'contains')" placeholder="Mobile Number" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" placeholder="Email" class="ui-column-filter" >
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'address', 'contains')" placeholder="Address" class="ui-column-filter" >
                </th>
                <th></th>
            </tr>



        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr [class.ui-state-highlight]="customer === selectedRowItem" (click)="onRowClick(customer)">
                <td *ngFor="let col of gridColumns">
                    <span> {{ customer[col.field] }}</span>
                    
                  </td>
                <td>
                    <div>
                        <button  id="btnView"
                        class="btn" (click)="onViewClick(customer.id)">
                        <img src="../../../../assets/images/icon/Eye-visible.svg"
                            class="edit-delete-icon-style" /></button>
                        <button  id="btnEdit"
                        class="actionBtn" (click)="onEditClick(customer.id)">
                        <img src="../../../../assets/images/icon/icon_edit.png"
                            class="edit-delete-icon-style" />
                    </button>
                    <button id="btnDelete" type="button" class="actionBtn"
                        (click)="onDeleteClick(customer.id)">
                        <img src="../../../../assets/images/icon/delete_icon.svg"
                            class="edit-delete-icon-style" />
                    </button>
    
                      </div>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog header="New Customer" [(visible)]="display"  [style]="{'width': '600px'}">
   <ngx-add-customer #customerAddForm (displayChange)="onAddFormClose($event)"></ngx-add-customer>
</p-dialog>
