// .content{
//     margin: -28px;
// }
#unitListSection{
    margin:-28px;
    padding:3px ;
    background: white;
  }
  #unitGrid .ui-table .ui-table-tbody > tr > td {
      border: 0px;
      font-family:'Nunito Sans';
      font-size:13px;
      font-weight: 'normal';
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    #unitGrid .ui-table .ui-table-thead > tr > th {
      border: 0px solid #c8c8c8;
      outline: none;
      font-family:'Nunito Sans';
      font-size: 13px;
      font-weight: normal;
      text-align: start;
      border: 3px solid white;
      border-radius: 2px;
      color: #707070;
      padding: 0.3em .857em;
      white-space: nowrap;
    }
    
    #unitGrid .ui-table .ui-table-tbody > tr:nth-child(even) {
      background-color: #eeeded;
    }
    #unitGrid .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
      background-color: #007ad9 !important;
      
    }
    .containerBody {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      margin-top: 3px;
      border: 1px solid #d0d0d0;
    }
   
  .actionBtn {
      background-color: inherit;
      border: none;
      outline: none;
      padding-bottom: 0%;
      cursor: pointer;
      width: 30px;
  }
  .edit-delete-icon-style
  {
    height: 12px;
    width: 12px;
  }
  #unitGrid .ui-table .ui-table-thead > tr > th
  {
    border: 0px solid #c8c8c8;
    outline: none;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    text-align: start;
    border: 3px solid white;
    border-radius: 2px;
    color: #707070;
    padding: 0.3em .857em;
    white-space: nowrap;
    background-color: #e1eaf2;
  }
  #unitGrid .ui-table .ui-table-thead > tr > th
  {
    border: 0px solid #c8c8c8;
    outline: none;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    text-align: start;
    border: 3px solid white;
    border-radius: 2px;
    color: #707070;
    padding: 0.3em .857em;
    white-space: nowrap;
    background-color: #e1eaf2;
  }