<div class="p-grid" style="background-color: white;margin: -28px;padding: 3px;">
    <div class="p-col-12">
        <label style="font-size: 18px; font-weight: bold;">Add New Job</label>
  
        <ngx-add-job-card  (onSaveChange)="onSaveChange($event)" ></ngx-add-job-card >
    </div>
</div>