<div id="addProductForm" class="p-grid p-justify-center p-align-center" [formGroup]="productFormGroup">
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div style="margin-top: 20px;" class="form-control-label">
                    <label for="float-input-name">Product Category</label>
                </div>
                <p-dropdown filter="true" placeholder="Select Category" [options]="productCategoryListItem" formControlName="CategoryId">
                </p-dropdown>
                <div>
                    <small *ngIf="productFormGroup.controls['CategoryId'].errors?.required && isSubmitted"
                        class="text-danger">Category is required.</small>
                </div>
            </div>
        </div>

        <div class="p-col-6">
            <div class="p-field">
                <div style="margin-top: 20px;" class="form-control-label">
                    <label for="float-input-name">Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30" formControlName="Name" />
                <div>
                    <small *ngIf="productFormGroup.controls['Name'].errors?.required && isSubmitted"
                        class="text-danger">Name is required.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-3">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Code</label>
                </div>
                <input class="form-text-box" id="float-input-name" type="text" size="30" formControlName="Code" />
            </div>
        </div>
        <div class="p-col-3">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Actual Price</label>
                </div>
                <input class="form-text-box" id="float-input-name" type="number" size="30" formControlName="ActualPrice"
                    (change)="onDiscountChange()" />
            </div>
        </div>
        <div class="p-col-3">
            <div class="form-control-label">
                <label for="float-input-code">Discount %</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="number" size="30"
                formControlName="DiscountPercentage" (change)="onDiscountChange()" />
        </div>
        <div class="p-col-3">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Price</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="number" size="30" formControlName="Price" />
                <div>
                    <small *ngIf="productFormGroup.controls['Price'].errors?.required && isSubmitted"
                        class="text-danger">Price is required.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="p-grid p-col-12">

    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-12">
            <div class="form-control-label">
                <label for="float-input-code">Description</label>
            </div>
            <textarea rows="5" cols="30" pInputTextarea class="form-text-box" id="float-input-name" type="text"
                formControlName="Description"></textarea>
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
        (click)="onCancelClick()">Cancel</button>
    <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading"
        (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
        {{submitButtonText}}</button>
</div>