<div id="addProductCategoryForm" class="p-grid p-justify-center p-align-center" [formGroup]="productCategoryFormGroup">
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="Name" />
                <div>
                    <small *ngIf="productCategoryFormGroup.controls['Name'].errors?.required && isSubmitted"
                        class="text-danger">Name is required.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Description</label>
            </div>
            <input class="form-text-box" id="float-input-code" type="text" size="30"
                formControlName="Description" />
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
    (click)="onCancelClick()">Cancel</button>
      <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading || btnDisable" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
</div>