.btn-section {
  float: right;
}

#btn-save {
  margin-right: 5px;
}

.form-control-label {
  margin-bottom: 5px;
}

.text-danger {
  color: red;
}
.form-text-box {
  font-family: Nunito Sans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  border-radius: 2px;
  border: solid 1px rgba(16, 6, 153, 0.5);
  width: 100%;
  padding: .375rem .75rem;
}
#addUnitForm .p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12
{
  padding: 0.3rem;
}