<div id="addUserForm" class="p-grid p-justify-center p-align-center" [formGroup]="userFormGroup">
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">First Name</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30" formControlName="FirstName" />
                <div>
                    <small *ngIf="userFormGroup.controls['FirstName'].errors?.required && isSubmitted"
                        class="text-danger">First name is required.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Last Name</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" size="30" formControlName="LastName" />
            <div>
                <small *ngIf="userFormGroup.controls['LastName'].errors?.required && isSubmitted"
                    class="text-danger">Last name is required.</small>
            </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">User Name</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" size="30" formControlName="UserName" />
            <div>
                <small *ngIf="userFormGroup.controls['UserName'].errors?.required && isSubmitted"
                    class="text-danger">User name is required.</small>
                    <small class="text-danger">{{userNameAlreadyExist}}</small>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">Email</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="email" size="30" formControlName="Email" />
            <div>
                <small *ngIf="userFormGroup.controls['Email'].errors?.email && isSubmitted"
                    class="text-danger">Invalid Email</small>
            </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Password</label>
                </div>

                <input (keyup)="checkPasswordMatch()" class="form-text-box" id="float-input-name" type="password" size="30" formControlName="Hash" />
                <div>
                    <small *ngIf="userFormGroup.controls['Hash'].errors?.required && isSubmitted"
                        class="text-danger">Password is required.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Re Enter Password</label>
                </div>

                <input (keyup)="checkPasswordMatch()" class="form-text-box" id="float-input-name" type="password" size="30" formControlName="ReHash" />
                <div>
                    <small *ngIf="userFormGroup.controls['ReHash'].errors?.required && isSubmitted"
                        class="text-danger">Please re-enter the password</small>
                        <small class="text-danger" *ngIf="!isPasswordMatch">Did not match with Password.</small>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="form-control-label">
                <label for="float-input-code">User Role</label>
            </div>

            <p-multiSelect [options]="roleListItem" formControlName="Roles" defaultLabel="Select a Role" optionLabel="name" appendTo="body" name="Roles"></p-multiSelect>
            <div>
                <small *ngIf="userFormGroup.controls['Roles'].errors?.required && isSubmitted"
                    class="text-danger">Role is required</small>
            </div>
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
        (click)="onCancelClick()">Cancel</button>
    <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading"
        (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i>
        {{submitButtonText}}</button>
</div>