.btn-section {
    float: right;
  }
  
  #btn-save {
    margin-right: 5px;
  }
  
  .form-control-label {
    margin-bottom: 5px;
  }
  
  .text-danger {
    color: red;
  }
  .form-text-box {
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    border-radius: 2px;
    border: solid 1px rgba(16, 6, 153, 0.5);
    width: 100%;
    padding: .375rem .75rem;
  }