<p-toast></p-toast>
<div id="updatePasswordForm" class="p-grid p-justify-center p-align-center" [formGroup]="updatePasswordForm">
    <div class="p-grid p-col-12">
        <div class="p-col-12">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Old Password</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" size="30"
                    formControlName="Hash" />
                <div>
                    <small *ngIf="updatePasswordForm.controls['Hash'].errors?.required && isSubmitted"
                        class="text-danger">Old Password is required.</small>
                        <small 
                        class="text-danger">{{invalidOldPassword}}</small>
                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="form-control-label">
                <label for="float-input-code">New Password</label>
            </div>

            <input (keyup)="checkPasswordMatch()" class="form-text-box" id="float-input-code" type="text" size="30"
                formControlName="NewHash" />
                <div>
                    <small *ngIf="updatePasswordForm.controls['NewHash'].errors?.required && isSubmitted"
                        class="text-danger">New password is required.</small>
                </div>
        </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="form-control-label">
            <label for="float-input-code">Re enter new password</label>
        </div>

        <input (keyup)="checkPasswordMatch()" class="form-text-box" id="float-input-code" type="text" size="30"
            formControlName="ReNewHash" />
        <div>
            <small *ngIf="updatePasswordForm.controls['ReNewHash'].errors?.email && isSubmitted"
                class="text-danger">Re enter your new password</small>
                <small class="text-danger" *ngIf="!isPasswordMatch && isSubmitted">Did not match with Password.</small>
        </div>
    </div>
</div>
<div class="btn-section">
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
    (click)="onCancelClick()">Cancel</button>
      <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
</div>