
.btn-section {
    float: right;
}

#btn-save {
    margin-right: 5px;
}

.th-background-color {
    background-color: #e1eaf2;
}

// .padding-left-0 {
//     padding-left: var(--padding-zero);
// }

.hide-overflow-text {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-row-section {
    height: 45px;
    margin-top: -4px;
    margin-left: 10px;
}

.add-goals-button {
    padding: 5px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    outline: none;
}

.purchase-detail-table-section {
    height: 200px;
    overflow: auto;
}

.vetical-align-bottom {
    vertical-align: bottom;
}

.checkbox-column-th-default-report {
    width: 10% !important;
    padding-left: 5px !important;
}

.padding-left-8px {
    padding-left: 8px !important;
}


.th-goals-column-width-productName {
    width: 200px;
}

.th-goals-column-width-unitName {
    width: 100px;
}

.th-goals-column-width-quantity {
    width: 100px;
}

.th-goals-column-width-price {
    width: 100px;
}

.th-goals-column-width-totalPrice {
    width: 100px;
}

.invalid-dropdown .ui-dropdown {
    height: auto;
    border: 1px solid red;
    width: 100%;
    min-width: 100%;
    padding-top: 2px;
}

.invalid-textbox .ui-inputtext {
    height: auto;
    border: 1px solid red;
    width: 100%;
    min-width: 100%;
    padding-top: 2px;
}

.green-check {
    color: green;
}

.red-times {
    color: red;
}

.edit-delete-icon-style {
    height: 12px;
    width: 12px;
}

.action-btn {
    background-color: inherit;
    border: none;
    outline: none;
    padding-bottom: 0%;
    cursor: pointer;
    width: 30px;
}

.error-section {
    margin-top: -35px;
}

.text-danger {
    color: red;
}
.datepicker__container
{
        /* pointer-events: none; */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
}

    .containerBody {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      margin-top: 3px;
      border: 1px solid #d0d0d0;
    }
   
  .actionBtn {
      background-color: inherit;
      border: none;
      outline: none;
      padding-bottom: 0%;
      cursor: pointer;
      width: 30px;
  }
  .edit-delete-icon-style
  {
    height: 12px;
    width: 12px;
  }

//   ---





#purchaseDetailGrid .ui-table .ui-table-tbody > tr > td {
    border: 0px;
    font-family:'Nunito Sans';
    font-size:13px;
    font-weight: 'normal';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #purchaseDetailGrid .ui-table .ui-table-thead > tr > th {
    border: 0px solid #c8c8c8;
    outline: none;
    font-family:'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    text-align: start;
    border: 3px solid white;
    border-radius: 2px;
    color: #707070;
    padding: 0.3em .857em;
    white-space: nowrap;
  }
  
  #purchaseDetailGrid .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #eeeded;
  }
  #purchaseDetailGrid .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #007ad9 !important;
    
  }
#purchaseDetailGrid .ui-table .ui-table-thead > tr > th
{
  border: 0px solid #c8c8c8;
  outline: none;
  font-family: 'Nunito Sans';
  font-size: 13px;
  font-weight: normal;
  text-align: start;
  border: 3px solid white;
  border-radius: 2px;
  color: #707070;
  padding: 0.3em .857em;
  white-space: nowrap;
  background-color: #e1eaf2;
}
#purchaseDetailGrid .ui-table .ui-table-thead > tr > th
{
  border: 0px solid #c8c8c8;
  outline: none;
  font-family: 'Nunito Sans';
  font-size: 13px;
  font-weight: normal;
  text-align: start;
  border: 3px solid white;
  border-radius: 2px;
  color: #707070;
  padding: 0.3em .857em;
  white-space: nowrap;
  background-color: #e1eaf2;
}