<div class="p-grid" style="height: 100%;padding: 4px;">
    <form [formGroup]="purchaseForm">
        <div class="p-grid">
            <div class="p-col-3">
                <div class="p-field">
                    <div class="form-control-label">
                        <label for="float-input-name">Purchase Date</label>
                    </div>
                    <p-calendar id="pCalender" [showIcon]="true" formControlName="PurchaseDate" name="PurchaseDate">
                    </p-calendar>
                    <div>
                        <small *ngIf="purchaseForm.controls['PurchaseDate'].errors?.required && isSubmitted"
                            class="text-danger">Date is required.</small>
                    </div>
                </div>
            </div>
            <div class="p-col-3">
                <div class="p-field">
                    <div class="form-control-label">
                        <label for="float-input-name">Bill Number</label>
                    </div>
                    <input class="form-control form-text-box" id="float-input-name" type="text" size="20" type="number"
                        formControlName="PurchaseNo" name="PurchaseNo" />
                        <div>
                            <small *ngIf="purchaseForm.controls['PurchaseNo'].errors?.required && isSubmitted"
                                class="text-danger">Number is required.</small>
                        </div>
                </div>
            </div>
            <div class="p-col-3">
                <div class="p-field">
                    <div class="form-control-label">
                        <label for="float-input-name">Payment Method</label>
                    </div>
                    <p-dropdown [options]="paymentMethod" formControlName="PaymentMethod" name="PaymentMethod">
                    </p-dropdown>
                </div>
            </div>

            <div class="p-col-3">
                <div class="p-field">
                    <div class="form-control-label">
                        <label for="float-input-name">Supplier</label>
                    </div>
                    <p-dropdown [options]="supplierItem" formControlName="SupplierId" name="SupplierId" editable="true"
                        placeholder="Select a Supplier">
                    </p-dropdown>
                    <div>
                        <small *ngIf="purchaseForm.controls['SupplierId'].errors?.required && isSubmitted"
                            class="text-danger">Supplier is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-2" class="add-row-section">
                <button [disabled]="disableAddComplainBtn" class="add-goals-button" id="btnAdd"
                    (click)="addNewRow()">
                    <i class="pi pi-plus-circle vetical-align-bottom"></i> Purchase
                </button>
            </div>

        </div>
        <div formGroupName="purchaseDetail" class="p-grid purchase-detail-table-section" id="purchaseDetailGrid">
            <p-table dataKey="rowIndex" #purchaseDetailTable [columns]="gridColumns" [value]="purchaseDetailList"
                [scrollable]="true" editMode="row">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns"
                            class="{{'th-background-color th-goals-column-width-' + col.field}}">
                            <div>
                                {{col.header}}
                            </div>
                        </th>
                        <th class="padding-left-0 th-background-color checkbox-column-th-default-report">
                            Remove
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-purchaseDetail let-editing="editing" let-ri="rowIndex"
                    let-purchaseDetailList>
                    <tr [pEditableRow]="purchaseDetail" [class.highlight-row]="editing">
                        <td class="th-goals-column-width-productName">
                            <div class="hide-overflow-text">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div>
                                            <p-dropdown appendTo="body" placeholder="Product"
                                                [options]="productListItem" name="product"
                                                (onChange)="onProductDropdownValueChange()" formControlName="productId"
                                                [ngClass]="{'invalid-dropdown':((isEditButtonClicked || isAddGoalsButtonClicked) && (purchaseDetailForm.get('productId').invalid))}">
                                            </p-dropdown>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{purchaseDetail.productName}}
                                    </ng-template>
                                </p-cellEditor>
                            </div>
                        </td>
                        <td class="th-goals-column-width-unitName">
                            <div class="hide-overflow-text">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div>
                                            <p-dropdown appendTo="body" placeholder="Unit" [options]="unitListItem"
                                                name="unitId" formControlName="unitId"
                                                [ngClass]="{'invalid-dropdown':((isEditButtonClicked || isAddGoalsButtonClicked) && (purchaseDetailForm.get('unitId').invalid))}">
                                            </p-dropdown>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{purchaseDetail.unitName}}
                                    </ng-template>
                                </p-cellEditor>
                            </div>
                        </td>
                        <td class="th-goals-column-width-quantity">
                            <div class="hide-overflow-text">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div class="form-control-input-field">
                                            <input class="form-control" id="float-input-name" type="text" size="30"
                                                pInputText type="number" name="quantity" formControlName="quantity"
                                                min="0" max="100" (change)="onChange()" />
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{purchaseDetail.quantity}}
                                    </ng-template>
                                </p-cellEditor>
                            </div>
                        </td>
                        <td class="th-goals-column-width-price">
                            <div class="hide-overflow-text">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <div>
                                            <input class="form-control" id="float-input-name" type="text" size="30"
                                                pInputText type="number" name="price" formControlName="price"
                                                (change)="onChange()" />
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{purchaseDetail.price}}
                                    </ng-template>
                                </p-cellEditor>
                            </div>
                        </td>
                        <td class="th-goals-column-width-totalPrice">
                            <div class="hide-overflow-text">
                                {{purchaseDetail.totalPrice}}
                            </div>
                        </td>
                        <td class="padding-left-0 checkbox-column-th-default-report padding-left-8px">
                            <button [disabled]="IsEditRowbtnDisable" pInitEditableRow id="btnEdit" *ngIf="!editing" class="action-btn"
                                (click)="onRowEditInit(purchaseDetail)">
                                <img src="../../../../../../assets/images/icon/icon_edit.png"
                                    class="edit-delete-icon-style" />
                            </button>
                            <button [disabled]="IsRemoveRowbtnDisable" id="btnDelete" type="button" *ngIf="!editing" class="btn"
                                (click)="deleteGoal(purchaseDetail)">
                                <img src="../../../../../../assets/images/icon/delete_icon.svg"
                                    class="edit-delete-icon-style" />
                            </button>
                            <button pSaveEditableRow type="button" id="btnSave" *ngIf="editing" class="action-btn"
                                (click)="onRowEditSave(purchaseDetail)"
                                [disabled]="purchaseDetailForm.get('productId').invalid">
                                <i class="pi pi-check green-check"></i>
                            </button>
                            <button pCancelEditableRow type="button" id="btnCancel" *ngIf="editing" class="action-btn"
                                (click)="onCancelClick(purchaseDetail,ri)">
                                <i class="pi pi-times red-times"></i>
                            </button>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
        <div class="p-grid p-col-12">
            <div class="p-grid p-col-4">
                <div class="p-col-5"><label for="float-input-name" style="margin-top: 6px;">Bill Amount</label></div>
                <div class="p-col-7"><input class="form-control" formControlName="TotalBillAmount"
                    (keyup)="onPaidAmountChange()"   name="TotalBillAmount" id="float-input-name" type="text" size="30" pInputText type="number" />
                </div>
            </div>
            <div class="p-grid p-col-4">
                <div class="p-col-5"><label for="float-input-name" style="margin-top: 6px;">Paid Amount</label></div>
                <div class="p-col-7"><input class="form-control" formControlName="TotalPaidAmount"
                        name="TotalPaidAmount" id="float-input-name" type="text" size="30" pInputText type="number"
                        (keyup)="onPaidAmountChange()" />
                </div>
            </div>
            <div class="p-grid p-col-4">
                <div class="p-col-6"><label for="float-input-name" style="margin-top: 6px;margin-left: 30px;">Due Amount</label></div>
                <div class="p-col-6"><input class="form-control" id="float-input-name" formControlName="TotalDueAmount"
                    (keyup)="onPaidAmountChange()"   name="TotalDueAmount" type="text" size="30" pInputText type="number" /></div>
            </div>
        </div>
        <div class="btn-section">
            <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-default" type="button"
        (click)="onFormCancelClick()">Cancel</button>
          <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading ||disableSavebtn" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
        </div>
    </form>
</div>