<div class="p-grid p-justify-center p-align-center" [formGroup]="vehicleFormGroup">
    <div class="p-grid p-col-12">
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Customer</label>
                </div>

                <p-autoComplete (onSelect)="onCustomerNameSelect($event)" field="fullName"
                    formControlName="CustomerName" [suggestions]="customerItem" (completeMethod)="search($event)">
                </p-autoComplete>
                <div>
                    <small *ngIf="vehicleFormGroup.controls['CustomerId'].errors?.required && isSubmitted"
                        class="text-danger">Customer is required.</small>
                    <small *ngIf="showCustomerNotFoundMessage" class="text-danger">Did not find Customer.</small>
                </div>
            </div>
        </div>
        <div class="p-col-4">
            <div class="form-control-label">
                <label for="float-input-code">Registration Number</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" formControlName="RegistrationNumber" />
            <div>
                <small *ngIf="vehicleFormGroup.controls['RegistrationNumber'].errors?.required && isSubmitted"
                    class="text-danger">Registration Number is required.</small>
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Manufacturer</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" formControlName="Manufacturer" />
            </div>
        </div>

        <div class="p-col-4">
            <div class="form-control-label">
                <label for="float-input-code">Model</label>
            </div>

            <input class="form-text-box" id="float-input-code" type="text" formControlName="Model" />
            <div>
            </div>
        </div>

        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Variant</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" formControlName="Variant" />
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Options</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" formControlName="Options" />
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">MfdYear</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="number" formControlName="MfdYear" />
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Transmition Type</label>
                </div>
                <p-dropdown [options]="transmissionTypeItem" formControlName="TransmitionType">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Fuel Type</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" formControlName="FuelType" />
            </div>
        </div>
        <div class="p-col-4">
            <div class="p-field">
                <div class="form-control-label">
                    <label for="float-input-name">Body Type</label>
                </div>

                <input class="form-text-box" id="float-input-name" type="text" formControlName="BodyType" />
            </div>
        </div>
    </div>
</div>
<div class="btn-section">
  
    <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
        (click)="onCancelClick()">Cancel</button>
          <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
</div>