
<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>GMS</span></a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <p-dialog header="Edit Profile" [(visible)]="display" [style]="{'width': '600px'}">
    <ngx-edit-user-profile (displayChange)="onAddFormClose($event)"></ngx-edit-user-profile>
  </p-dialog>
  <p-dialog header="Update Password" [(visible)]="displayUpdatePassword" [style]="{'width': '500px'}">
    <ngx-update-password (displayChange)="onUpdatePasswordFormClose($event)"></ngx-update-password>
  </p-dialog>
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="username"
               [picture]="userLogo">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
