
.btn-section {
    float: right;
}

#btn-save {
    margin-right: 5px;
}

.th-background-color {
    background-color: #e1eaf2;
}

.padding-left-0 {
    padding-left: var(--padding-zero);
}

.hide-overflow-text {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-row-section {
    height: 32px;
}

.add-goals-button {
    padding: 5px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    outline: none;
}

.order-detail-table-section {
    height: 150px;
    overflow: auto;
}

.vetical-align-bottom {
    vertical-align: bottom;
}

.checkbox-column-th-default-report {
    width: 10% !important;
    padding-left: 5px !important;
}

.padding-left-8px {
    padding-left: 8px !important;
}

p-dropdown>.ui-dropdown label.ui-dropdown-label {
    padding: 3px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-style);
}

.ui-fluid .ui-dropdown {
    height: auto;
    border: var(--border_blue);
    width: 100%;
    min-width: 100%;
    padding-top: 2px;
}

.th-goals-column-width-productName {
    width: 300px;
}
.th-goals-column-width-orderStatusName {
    width: 300px;
}
.th-goals-column-width-unitName {
    width: 100px;
}

.th-goals-column-width-quantity {
    width: 100px;
}

.th-goals-column-width-price {
    width: 100px;
}

.th-goals-column-width-totalPrice {
    width: 100px;
}

.invalid-dropdown .ui-dropdown {
    height: auto;
    border: 1px solid red;
    width: 100%;
    min-width: 100%;
    padding-top: 2px;
}

.invalid-textbox .ui-inputtext {
    height: auto;
    border: 1px solid red;
    width: 100%;
    min-width: 100%;
    padding-top: 2px;
}

.green-check {
    color: green;
}

.red-times {
    color: red;
}

.edit-delete-icon-style {
    height: 12px;
    width: 12px;
}

.action-btn {
    background-color: inherit;
    border: none;
    outline: none;
    padding-bottom: 0%;
    cursor: pointer;
    width: 30px;
}

.error-section {
    margin-top: -35px;
}

.text-danger {
    color: red;
}

.form-control-label {
    margin-top: 3px;
}

#ptextBox .ui-inputtext {
    height: 27px;
}
#btnEdit:disabled{
    opacity: 0.5;
}
.txtJobNumber{
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    border-radius: 2px;
    border: solid 1px rgba(16, 6, 153, 0.5);
    padding: .375rem .75rem;
  }
  .txtComplian{
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    border-radius: 2px;
    border: solid 1px rgba(16, 6, 153, 0.5);
    padding: .375rem .75rem;
    width: 100%;
  }
  
#addJobComplain .ui-table .ui-table-tbody > tr > td ,  
#jobInventoryDetail .ui-table .ui-table-tbody > tr > td {
    border: 0px;
    font-family:'Nunito Sans';
    font-size:13px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #addJobComplain .ui-table .ui-table-thead > tr > th, #jobInventoryDetail .ui-table .ui-table-thead > tr > th  {
    border: 0px solid #c8c8c8;
    outline: none;
    font-family:'Nunito Sans';
    font-size: '12px';
    font-weight: 'normal';
    text-align: start;
    border: 3px solid white;
    border-radius: 2px;
    color: #707070;
    padding: 0.3em .857em;
    white-space: nowrap;
  }
  
  #addJobComplain .ui-table .ui-table-tbody > tr:nth-child(even), #jobInventoryDetail .ui-table .ui-table-tbody > tr:nth-child(even),
  
  #jobCardLabourForm .ui-table .ui-table-tbody > tr:nth-child(even), #jobInventoryDetail .ui-table .ui-table-tbody > tr:nth-child(even)
  
  {
    background-color: #eeeded;
  }
  #addJobComplain .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight,
   #addJobComplain .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight ,
   #jobCardLabourForm .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight 
   {
    background-color: #007ad9 !important;
    
  }
  #addJobComplain .ui-table .ui-table-thead > tr > th,   #jobInventoryDetail .ui-table .ui-table-thead > tr > th,
  #jobCardLabourForm .ui-table .ui-table-thead > tr > th
  {
    border: 0px solid #c8c8c8;
    outline: none;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    text-align: start;
    border: 3px solid white;
    border-radius: 2px;
    color: #707070;
    padding: 0.3em .857em;
    white-space: nowrap;
    background-color: #e1eaf2;
  }