<div class="p-grid p-align-center" style="height: 100%;padding-left: 10px;overflow: hidden;">
    <form [formGroup]="jobCardForm">
        <div class="p-grid">
            <div class="p-grid p-col-9">
                <div class="p-col-4">
                    <div class="form-control-label"><label for="float-input-name">Vehicle</label></div>
                    <div>
                        <p-dropdown filter="true" [options]="vehicleListItem" placeholder="Select a Vehicle" formControlName="VechileId">
                        </p-dropdown>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="form-control-label"><label for="float-input-name">Job Number</label></div>
                    <div>
                        <input class="txtJobNumber" type="text" formControlName="JobNumber" name="JobNumber" />
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="form-control-label"><label for="float-input-name">Job Created Date</label></div>
                    <div>
                        <p-calendar id="pCalender" [showIcon]="true" formControlName="CreatedDate" name="CreatedDate"
                            dataType="string" dateFormat="mm/dd/yy">
                        </p-calendar>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="form-control-label"><label for="float-input-name">Km Reading</label></div>
                    <div>
                        <input class="txtJobNumber" type="number" formControlName="KmReading" name="KmReading" />
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="form-control-label"><label for="float-input-name">Is Servicing</label></div>
                    <div>
                      <!-- <input type="checkbox"/> -->
                      <p-checkbox  formControlName="IsServicing" name="IsServicing" (onChange)="onIsServicingChange($event)"></p-checkbox>
                    </div>
                </div>
            </div>
            <div class="p-col-3">
                <igx-radial-gauge   #radialGauge height="250px" width="250px" value="0" interval="5" minimumValue="0" maximumValue="50"
                    isNeedleDraggingEnabled=true isNeedleDraggingConstrained=true needleBrush="#79797a"
                    needleOutline="#79797a" needlePivotBrush="#79797a" needlePivotOutline="#79797a"
                    minorTickBrush = "#79797a"
                    >
    
                    <igx-radial-gauge-range startValue="0" endValue="50" brush="green">
                    </igx-radial-gauge-range>
                </igx-radial-gauge>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel header="Complains">
                <div>
                    <div class="p-col-2" class="add-row-section">
                        <button [disabled]="disableAddComplainBtn" class="add-goals-button" id="btnAdd"
                            (click)="addNewRow()">
                            <i class="pi pi-plus-circle vetical-align-bottom"></i> Complain
                        </button>
                    </div>
                    <div>
                        <div id="addJobComplain" formGroupName="jobDetail" class="order-detail-table-section">
                            <p-table #jobDetailTable dataKey="rowIndex" [value]="jobDetailsList" [scrollable]="true"
                                editMode="row">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th>
                                            <div>
                                                Complian
                                            </div>
                                        </th>
                                        <th style="width: 120px;">
                                            Remove
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-jobDetail let-editing="editing" let-ri="rowIndex">
                                    <tr [pEditableRow]="jobDetail" [class.highlight-row]="editing">
                                        <td>
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="text"
                                                                formControlName="ComplainDescription"
                                                                name="ComplainDescription" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobDetail.complainDescription}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>

                                        <td style="width:120px;">
                                            <button [disabled]="isEditButtonClicked || isRowEditBtnDisable"
                                                pInitEditableRow id="btnEdit" *ngIf="!editing" class="action-btn"
                                                (click)="onRowEditInit(jobDetail)">
                                                <img src="../../../../assets/images/icon/icon_edit.png"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button [disabled]="isRowDeleteBtnDisable" id="btnDelete" type="button"
                                                *ngIf="!editing" class="btn" (click)="deleteRow(jobDetail)">
                                                <img src="../../../../assets/images/icon/delete_icon.svg"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button pSaveEditableRow type="button" id="btnSave" *ngIf="editing"
                                                class="action-btn" (click)="onRowEditSave(jobDetail)"
                                                [disabled]="jobCardDetailForm.get('ComplainDescription').invalid">
                                                <i class="pi pi-check green-check"></i>
                                            </button>
                                            <button pCancelEditableRow type="button" id="btnCancel" *ngIf="editing"
                                                class="action-btn" (click)="onCancelClick(jobDetail)">
                                                <i class="pi pi-times red-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </div>
            </p-tabPanel>
            <!-- inventory check -->
            <p-tabPanel header="Customer's Items">
                <div>
                    <div class="p-col-2" class="add-row-section">
                        <button [disabled]="disableAddComplainBtn" class="add-goals-button" id="btnAdd"
                            (click)="addInventoryCheck()">
                            <i class="pi pi-plus-circle vetical-align-bottom"></i> item
                        </button>
                    </div>
                    <div>
                        <div id="jobInventoryCheckDetail" formGroupName="jobInventoryCheckDetail"
                            class="order-detail-table-section">
                            <p-table #jobInventoryCheckDetailTable dataKey="rowIndex" [value]="inventoryCheckList"
                                [scrollable]="true" editMode="row">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th>
                                            Item
                                        </th>
                                        <th style="width: 100px;">
                                            Unit
                                        </th>
                                        <th style="width: 120px;">
                                            Remove
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-jobInventoryCheckDetail let-editing="editing"
                                    let-ri="rowIndex">
                                    <tr [pEditableRow]="jobInventoryCheckDetail" [class.highlight-row]="editing">
                                        <td>
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <p-dropdown appendTo="body" placeholder="Item"
                                                                [options]="masterDataItems" name="Item"
                                                                formControlName="Item">
                                                            </p-dropdown>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobInventoryCheckDetail.item}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 100px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="number"
                                                                formControlName="Unit" name="Unit" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobInventoryCheckDetail.unit}}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </div>
                                        </td>
                                        <td style="width:120px;">
                                            <button [disabled]="isEditButtonClicked || isRowEditBtnDisable"
                                                pInitEditableRow id="btnEdit" *ngIf="!editing" class="btn"
                                                (click)="onInventoryCheckRowEditInit(jobInventoryCheckDetail)">
                                                <img src="../../../../assets/images/icon/icon_edit.png"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button [disabled]="isRowDeleteBtnDisable" id="btnDelete" type="button"
                                                *ngIf="!editing" class="btn"
                                                (click)="deleteInventoryRow(jobInventoryCheckDetail)">
                                                <img src="../../../../assets/images/icon/delete_icon.svg"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button pSaveEditableRow type="button" id="btnSave" *ngIf="editing"
                                                class="btn"
                                                (click)="onInventoryCheckRowEditSave(jobInventoryCheckDetail)"
                                                [disabled]="jobCardDetailForm.get('ComplainDescription').invalid">
                                                <i class="pi pi-check green-check"></i>
                                            </button>
                                            <button pCancelEditableRow type="button" id="btnCancel" *ngIf="editing"
                                                class="btn" (click)="onCancelClick(jobInventoryCheckDetail)">
                                                <i class="pi pi-times red-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel [disabled]="isDisableInventoryAndLabourTab" header="Inventory">
                <div>
                    <div class="p-col-2" class="add-row-section">
                        <button [disabled]="disableAddComplainBtn" class="add-goals-button" id="btnAdd"
                            (click)="addNewInventory()">
                            <i class="pi pi-plus-circle vetical-align-bottom"></i> item
                        </button>
                    </div>
                    <div>

                        <div id="jobInventoryDetail" formGroupName="jobInventoryDetail"
                            class="order-detail-table-section">
                            <p-table #jobInventoryDetailTable dataKey="rowIndex" [value]="jobInventoryDetailsList"
                                [scrollable]="true" editMode="row">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th>
                                            Product
                                        </th>
                                        <th style="width: 100px;">
                                            Unit
                                        </th>
                                        <th style="width: 150px;">
                                            Price
                                        </th>
                                        <th style="width: 150px;">
                                            Amount
                                        </th>
                                        <th style="width: 120px;">
                                            Remove
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-jobInventoryDetail let-editing="editing"
                                    let-ri="rowIndex">
                                    <tr [pEditableRow]="jobInventoryDetail" [class.highlight-row]="editing">
                                        <td>
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <p-dropdown appendTo="body" placeholder="Select a Product"
                                                                [options]="productSelectItems" name="productId"
                                                                formControlName="productId" (onChange)="onInventaryProductChange(jobInventoryDetail,$event)">
                                                            </p-dropdown>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobInventoryDetail.product}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 100px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="number"
                                                                formControlName="unit" name="unit"
                                                                (change)="onChange()" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobInventoryDetail.unit}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 150px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="number"
                                                                formControlName="price" name="price"
                                                                (change)="onChange()" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{jobInventoryDetail.price}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 150px;">
                                            <div>
                                                {{jobInventoryDetail.amount}}
                                            </div>
                                        </td>
                                        <td style="width:120px;">
                                            <button [disabled]="isInventoryEditButtonClicked || isRowEditBtnDisable"
                                                pInitEditableRow id="btnEdit" *ngIf="!editing" class="btn"
                                                (click)="onInventoryRowEditInit(jobInventoryDetail)">
                                                <img src="../../../../assets/images/icon/icon_edit.png"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button [disabled]="isRowDeleteBtnDisable" id="btnDelete" type="button"
                                                *ngIf="!editing" class="btn"
                                                (click)="deleteInventoryRow(jobInventoryDetail)">
                                                <img src="../../../../assets/images/icon/delete_icon.svg"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button pSaveEditableRow type="button" id="btnSave" *ngIf="editing"
                                                class="btn" (click)="onInventoryRowEditSave(jobInventoryDetail)"
                                                [disabled]="jobCardDetailForm.get('ComplainDescription').invalid">
                                                <i class="pi pi-check green-check"></i>
                                            </button>
                                            <button pCancelEditableRow type="button" id="btnCancel" *ngIf="editing"
                                                class="btn" (click)="onCancelClick(jobInventoryDetail)">
                                                <i class="pi pi-times red-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>

                        <div class="p-grid p-col-12">
                            <div class="p-col-8"></div>
                            <div class="p-grid p-col-4">
                                <div class="p-col-5"><label for="float-input-name" style="margin-top: 6px;">Bill Amount</label></div>
                                <div class="p-col-7"><input class="form-control" formControlName="totalBillAmount"
                                     name="totalBillAmount" id="float-input-name" type="text" size="30" pInputText type="number" />
                                </div>
                            </div>
                            <!-- <div class="p-grid p-col-4">
                                <div class="p-col-5"><label for="float-input-name" style="margin-top: 6px;">Paid Amount</label></div>
                                <div class="p-col-7"><input class="form-control" formControlName="TotalPaidAmount"
                                        name="TotalPaidAmount" id="float-input-name" type="text" size="30" pInputText type="number"
                                        (keyup)="onPaidAmountChange()" />
                                </div>
                            </div>
                            <div class="p-grid p-col-4">
                                <div class="p-col-6"><label for="float-input-name" style="margin-top: 6px;margin-left: 30px;">Due Amount</label></div>
                                <div class="p-col-6"><input class="form-control" id="float-input-name" formControlName="TotalDueAmount"
                                    (keyup)="onPaidAmountChange()"   name="TotalDueAmount" type="text" size="30" pInputText type="number" /></div>
                            </div> -->
                        </div>

                    </div>
                    <!-- <div class="p-grid">
                        <div class="p-col-8"></div>
                        <div class="p-col-4">
                            Total Amount: <input type="text" class="txtJobNumber" />
                        </div>
                    </div> -->
                </div>
            </p-tabPanel>
            <!-- labour description -->
            <p-tabPanel [disabled]="isDisableInventoryAndLabourTab" header="Labour">
                <div>
                    <div class="p-col-2" class="add-row-section">
                        <button [disabled]="disableAddComplainBtn" class="add-goals-button" id="btnAdd"
                            (click)="addNewLabour()">
                            <i class="pi pi-plus-circle vetical-align-bottom"></i> item
                        </button>
                    </div>
                    <div>

                        <div id="jobCardLabourForm" formGroupName="jobCardLabourForm"
                            class="order-detail-table-section">
                            <p-table #jobLabourDetailTable dataKey="rowIndex" [value]="labourList" [scrollable]="true"
                                editMode="row">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 150px;">
                                            Description
                                        </th>
                                        <th style="width: 100px;">
                                            Unit
                                        </th>
                                        <th style="width: 70px;">
                                            Quantity
                                        </th>
                                        <th style="width: 70px;">
                                            Amount
                                        </th>
                                        <th style="width: 70px;">
                                            Total Amount
                                        </th>
                                        <th style="width: 120px;">
                                            Remove
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-labourDetail let-editing="editing" let-ri="rowIndex">
                                    <tr [pEditableRow]="labourDetail" [class.highlight-row]="editing">
                                        <td style="width: 150px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="text"
                                                                formControlName="Description" name="Description" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{labourDetail.description}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 100px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="text"
                                                                formControlName="Unit" name="Unit" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{labourDetail.unit}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 70px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="number"
                                                                formControlName="Quantity" name="Quantity"
                                                                (change)="onLabourChange()" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{labourDetail.quantity}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 70px;">
                                            <div>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <div>
                                                            <input class="txtComplian" type="number"
                                                                formControlName="Amount" name="Amount"
                                                                (change)="onLabourChange()" />
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{labourDetail.amount}}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </div>
                                        </td>
                                        <td style="width: 70px;">
                                            <div>
                                                {{labourDetail.totalAmount}}
                                            </div>
                                        </td>
                                        <td style="width:120px;">
                                            <button [disabled]="isLabourEditButtonClicked || isRowEditBtnDisable"
                                                pInitEditableRow id="btnEdit" *ngIf="!editing" class="btn"
                                                (click)="onlabourRowEditInit(labourDetail)">
                                                <img src="../../../../assets/images/icon/icon_edit.png"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button [disabled]="isRowDeleteBtnDisable" id="btnDelete" type="button"
                                                *ngIf="!editing" class="btn" (click)="deleteLabourRow(labourDetail)">
                                                <img src="../../../../assets/images/icon/delete_icon.svg"
                                                    class="edit-delete-icon-style" />
                                            </button>
                                            <button pSaveEditableRow type="button" id="btnSave" *ngIf="editing"
                                                class="btn" (click)="onLabourRowEditSave(labourDetail)"
                                                [disabled]="jobCardDetailForm.get('ComplainDescription').invalid">
                                                <i class="pi pi-check green-check"></i>
                                            </button>
                                            <button pCancelEditableRow type="button" id="btnCancel" *ngIf="editing"
                                                class="btn" (click)="onCancelClick(labourDetail)">
                                                <i class="pi pi-times red-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

        <div class="btn-section">
            <button style="border: 1px solid blueviolet;height:31px;line-height: 10px;" class="btn btn-defaault" type="button"
        (click)="onCancelClick()">Cancel</button>
          <button style="margin-left: 10px; height:31px;line-height: 10px;" class="btn btn-primary" [disabled]="isLoading" (click)="onSaveClick()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-save': !isLoading}"></i> {{submitButtonText}}</button>
        </div>
    </form>
</div>
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>