
<div class="main-div">  
  <div class="container">
    <label for="uname"><b>User Name</b></label>
    <input id="input-username" type="text" size="30" pInputText [(ngModel)]="userName"
    placeholder="Enter User name">

    <label for="psw"><b>Password</b></label>
    <input (keyup)="onPasswordKeyUp($event)" id="input-password" type="password" size="30" pInputText [(ngModel)]="password"
    placeholder="Enter Password">
    <label class="login-require-error" id="loginErrorMsgId">
      {{loginErrorMsg}}
    </label>
    <button type="button" (click)="onClickLogin()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</div>
