<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div id="vehicleListSection">
    <div>
        <button style="height: 31px; line-height: 10px;" class="btn btn-primary" type="button" (click)="onAddClick()"><i class="fa fa-plus"></i>Add New</button>
    </div>
    <div style="margin-top: 10px;" id="vehicleGrid">
        <p-table (onSort)="customSort($event)"  [columns]="gridColumns"  [lazy]="true" [value]="vehicleList" [responsive]="true" [autoLayout]="true" [scrollable]="true" [resizableColumns]="true"
        [(first)]="first"  columnResizeMode="expand" [paginator]="true" [rows]="recordsPerPage" [rowsPerPageOptions]="rowsPerPageOptions" (onLazyLoad)="loadPageData($event)" [totalRecords]="totalRecords"
        [customSort]="true" (onPage)="onPage($event)" [(selection)]="selectedRowItem" [totalRecords]="totalGridRecords" >
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of gridColumns" [pSortableColumn]="col.field">
                    {{ col.header }} 
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr [class.ui-state-highlight]="customer === selectedRowItem" (click)="onRowClick(customer)">
                <td *ngFor="let col of gridColumns">
                    <span> {{ customer[col.field] }}</span>
                    
                  </td>
                <td>
                    <div>
                        <button  id="btnView"
                        class="action-btn" (click)="onViewClick(customer.Id)">
                        <img src="../../../../assets/images/icon/Eye-visible.svg"
                            class="edit-delete-icon-style" />
                    </button>
                        <button  id="btnEdit"
                        class="action-btn" (click)="onEditClick(customer.Id)">
                        <img src="../../../../assets/images/icon/icon_edit.png"
                            class="edit-delete-icon-style" />
                    </button>
                    <button id="btnDelete" type="button" class="action-btn"
                        (click)="onDeleteClick(customer.Id)">
                        <img src="../../../../assets/images/icon/delete_icon.svg"
                            class="edit-delete-icon-style" />
                    </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="New Vehicle" [(visible)]="display"  [style]="{'width': '600px'}">
   <ngx-add-vehicle #vehicleAddForm (displayChange)="onAddFormClose($event)"></ngx-add-vehicle>
</p-dialog>
