#vehicleListSection{
  margin:-28px;
  padding:3px ;
  background: white;
}

#vehicleGrid .ui-table .ui-table-tbody > tr > td {
  border: 0px;
  font-family:'Nunito Sans';
  font-size:13px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#vehicleGrid .ui-table .ui-table-thead > tr > th {
  border: 0px solid #c8c8c8;
  outline: none;
  font-family:'Nunito Sans';
  font-size: '12px';
  font-weight: 'normal';
  text-align: start;
  border: 3px solid white;
  border-radius: 2px;
  color: #707070;
  padding: 0.3em .857em;
  white-space: nowrap;
}

#vehicleGrid .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #eeeded;
}
#vehicleGrid .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #007ad9 !important;

}

#jobDetailTable .ui-table .ui-table-tbody > tr > td {
border: 0px;
font-family:'Nunito Sans';
font-size:13px;
font-weight: normal;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#jobDetailTable .ui-table .ui-table-thead > tr > th {
border: 0px solid #c8c8c8;
outline: none;
font-family:'Nunito Sans';
font-size: '12px';
font-weight: 'normal';
text-align: start;
border: 3px solid white;
border-radius: 2px;
color: #707070;
padding: 0.3em .857em;
white-space: nowrap;
}

#jobDetailTable .ui-table .ui-table-tbody > tr:nth-child(even) {
background-color: #eeeded;
}
#jobDetailTable .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
background-color: #007ad9 !important;

}
#vehicleGrid .ui-table .ui-table-thead > tr > th
{
border: 0px solid #c8c8c8;
outline: none;
font-family: 'Nunito Sans';
font-size: 13px;
font-weight: normal;
text-align: start;
border: 3px solid white;
border-radius: 2px;
color: #707070;
padding: 0.3em .857em;
white-space: nowrap;
background-color: #e1eaf2;
}
#jobDetailTable .ui-table .ui-table-thead > tr > th
{
border: 0px solid #c8c8c8;
outline: none;
font-family: 'Nunito Sans';
font-size: 13px;
font-weight: normal;
text-align: start;
border: 3px solid white;
border-radius: 2px;
color: #707070;
padding: 0.3em .857em;
white-space: nowrap;
background-color: #e1eaf2;
}
.action-btn {
  background-color: inherit;
  border: none;
  outline: none;
  padding-bottom: 0%;
  cursor: pointer;
  width: 30px;
}
.edit-delete-icon-style
{
height: 12px;
width: 12px;
}