<div class="p-grid" style="background-color: white;margin: -28px;padding: 3px;">
    <div class="p-col-8">
        <label style="font-size: 18px; font-weight: bold;">Add New Vehicle</label>
        <hr>
        <ngx-add-vehicle  (onSaveChange)="onSaveChange($event)"></ngx-add-vehicle>
    </div>
</div>