<div class="p-grid" style="background-color: white;margin: -28px;padding: 3px;">
    <div class="p-col-8">
        <label style="font-size: 18px; font-weight: bold;">Add New Purchase</label>
        <hr>
        <ngx-add-product  (onSaveChange)="onAddSaveChange($event)"></ngx-add-product>
    </div>
</div>